asn1crypto==0.24.0
cffi==1.11.5
cryptography==2.5
dj-database-url==0.5.0
Django==2.1.5
django-cors-headers==2.4.0
django-extensions==2.1.4
djangorestframework==3.9.1
jwt==0.5.4
psycopg2==2.7.7
psycopg2-binary==2.7.7
pycparser==2.19
python-decouple==3.1
pytz==2018.9
six==1.12.0
