<!DOCTYPE html>
<html lang="en">
 <head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <meta name="viewport" content="width=device-width">
   <title>Authors Haven</title>
 </head>
 <body>
     <div class="mail_container">
       <div class="mail_body">
           <p>Hey {{ username }},</p>
           <p>Your registration on <a href="https://ah-bird-box-staging.herokuapp.com/" >Authors Haven</a> was received. Click the link below to confirm registration</p>
           <a class="mail_button" href="{{verification_link}}">Click here</a>
       </div>
     </div>
     <div class="mail_footer">
       <p>Authors Haven &copy; 2019</p>
     </div>
 </body>
</html>
